<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://dipterix.sinaapp.com/show?msg_type=3&user_id=<%= @classroom.id %>&user_name=<%= current_user.nickname %>" name="forum-frame" >
  	
  </iframe>
</div>