<% domain = "http://dipterix.vipsinaapp.com" %>

<div class="embed-responsive embed-responsive-16by9" id="forum-frame">

<script type="text/javascript">
var iframe = document.createElement("iframe");
iframe.src = '<%= domain %>/show?msg_type=0&user_id=<%= @classroom.id %>&user_name=<%= current_user.nickname %>';
if (iframe.attachEvent){
    iframe.attachEvent("onload", function(){
        process_stop()
    });
} else {
    iframe.onload = function(){
        process_stop()
    };
}
document.getElementById('forum-frame').appendChild(iframe);
</script>

</div>